<ActionBar class="action-bar">
    <!-- <NavigationButton text="Go back" ios.position="left" android.systemIcon="ic_menu_back"  ios.systemIcon="9" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Assignment"></Label>
    <ActionItem 
        ios.position="left"
        android.position="popup" (tap)="onDrawerButtonTap()">
        <Label class="fas" text="&#xf0c9;" ></Label>
    </ActionItem>
    
    <ActionItem  ios.systemIcon="9"
        ios.position="right" android.systemIcon="ic_menu_notifications"
        android.position="actionBar">
    </ActionItem>
    <ActionItem ios.systemIcon="9"
        ios.position="right" android.systemIcon="ic_menu_notifications"
        android.position="actionBar">
    </ActionItem>
    <ActionItem  ios.systemIcon="9"
        ios.position="right" android.systemIcon="ic_menu_share"
        android.position="actionBar">
    </ActionItem> -->

    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *, *" width="100%">
        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()" col="0"></Label>

        <Label class="action-bar-title" text="Assignment" col="1"></Label>
        <StackLayout orientation="horizontal" col="2">

            <!-- <button class="fas icon-btn" text="&#xf0c9;"></button>
            <button class="fas icon-btn" text="&#xf0c9;"></button>
            <button class="fas icon-btn" text="&#xf0c9;"></button> -->


            <button class="icon-btn"></button>
            <button class="icon-btn"></button>
            <Label class="icon-btn">
                <Image width="16" height="24"
                        borderRadius="50%"
                        src="res://circle_bell_icon">
                    </Image>
            </Label>


        </StackLayout>

    </GridLayout>
</ActionBar>


<StackLayout class="main-page-container">


    <TabView tabsPosition="top" class="tabs-sections">
        <GridLayout *tabItem="{ title: 'UPCOMING' }">
        
        
         
            
                
                
                
                
                <StackLayout>
                <!-- Filet Section -->
                <FlexboxLayout justifyContent="space-between">
                    <StackLayout>
                        <FlexboxLayout>
                            <Button class="-outline" text="Physics">
                            </Button>

                        </FlexboxLayout>
                    </StackLayout>
                    <StackLayout>
                        <FlexboxLayout>
                            <Button class="-primary -rounded-sm primary-btn" text="Sort">
                            </Button>
                            <Button class="-primary -rounded-sm primary-btn" text="Filter">
                            </Button>
                        </FlexboxLayout>
                    </StackLayout>
                </FlexboxLayout>
                <!-- Filet Section -->

               
                <ScrollView name="UPCOMING"  orientation="vertical" height="500">
                    <StackLayout>

                <Label class="heading1-with-bg" text="Today"></Label>

                <!-- Item start-->
                <StackLayout class="ass-item" verticalAlignment="top">


                    <FlexboxLayout flexDirection="column" class="ass-item-inner">
                        
                        <StackLayout verticalAlignment="top">
                            <FlexboxLayout alignItems="flex-start" justifyContent="space-between">
                                
                                <Label textWrap="true" text="21 May 2021" class="date pm0">
                                </Label>
                                <Label class="bookmark" >
                                    <Image width="16" height="24"
                                            borderRadius="50%"
                                            src="res://bookmark">
                                        </Image>
                                </Label>
                            </FlexboxLayout>
                            

                            <Label textWrap="true" text="Assignment Title here" class="h2 item-heading">
                            </Label>
                                                                                                    

                            <FlexboxLayout alignItems="center">
                                <Label textWrap="true" text="Term 1 Assessment" class="small-label"></Label>

                                <Label textWrap="true" class="dot"></Label>
                                
                                <Label textWrap="true" text="4 Resources" class="small-label"></Label>
                              </FlexboxLayout>

                        </StackLayout>

                        <StackLayout verticalAlignment="top" class="item-actions">

                            <FlexboxLayout width="100%" justifyContent="space-between">

                                <FlexboxLayout alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        
                                        <Image width="36" height="36" 
                                            borderRadius="50%"
                                            src="res://circle_bell_icon">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>

                                <FlexboxLayout  alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        <Image width="36" height="36" 
                                            borderRadius="50%"
                                            src="res://circle_check_icon">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>
                            </FlexboxLayout>


                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <!-- Item end-->


                <!-- Item start-->
                <StackLayout class="ass-item" verticalAlignment="top">


                    <FlexboxLayout flexDirection="column" class="ass-item-inner">
                        
                        <StackLayout verticalAlignment="top">
                            <FlexboxLayout alignItems="flex-start" justifyContent="space-between">
                                
                                <Label textWrap="true" text="21 May 2021" class="date pm0">
                                </Label>
                                <Label class="bookmark">
                                </Label>
                            </FlexboxLayout>
                            

                            <Label textWrap="true" text="Assignment Title here" class="h2 item-heading">
                            </Label>
                                                                                                    

                            <FlexboxLayout alignItems="center">
                                <Label textWrap="true" text="Term 1 Assessment" class="small-label"></Label>

                                <Label textWrap="true" class="dot"></Label>
                                
                                <Label textWrap="true" text="4 Resources" class="small-label"></Label>
                            </FlexboxLayout>

                        </StackLayout>

                        <StackLayout verticalAlignment="top" class="item-actions">

                            <FlexboxLayout width="100%" justifyContent="space-between">

                                <FlexboxLayout alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        <Image width="36" height="36" backgroundColor="#72B1FF"
                                            borderRadius="50%"
                                            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>

                                <FlexboxLayout  alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        <Image width="36" height="36" backgroundColor="#72B1FF"
                                            borderRadius="50%"
                                            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>
                            </FlexboxLayout>


                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <!-- Item end-->


                <Label class="heading1-with-bg" text="Today"></Label>

                <!-- Item start-->
                <StackLayout class="ass-item" verticalAlignment="top">


                    <FlexboxLayout flexDirection="column" class="ass-item-inner">
                        
                        <StackLayout verticalAlignment="top">
                            <FlexboxLayout alignItems="flex-start" justifyContent="space-between">
                                
                                <Label textWrap="true" text="21 May 2021" class="date pm0">
                                </Label>
                                <Label class="bookmark">
                                </Label>
                            </FlexboxLayout>
                            

                            <Label textWrap="true" text="Assignment Title here" class="h2 item-heading">
                            </Label>
                                                                                                    

                            <FlexboxLayout alignItems="center">
                                <Label textWrap="true" text="Term 1 Assessment" class="small-label"></Label>

                                <Label textWrap="true" class="dot"></Label>
                                
                                <Label textWrap="true" text="4 Resources" class="small-label"></Label>
                            </FlexboxLayout>

                        </StackLayout>

                        <StackLayout verticalAlignment="top" class="item-actions">

                            <FlexboxLayout width="100%" justifyContent="space-between">

                                <FlexboxLayout alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        <Image width="36" height="36" backgroundColor="#72B1FF"
                                            borderRadius="50%"
                                            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>

                                <FlexboxLayout  alignItems="center">
                                    <FlexboxLayout flexDirection="column" class="item-actions-left">
                                        <Label class="h4" text="18 of 18">
                                        </Label>                                                

                                        <AbsoluteLayout class="bar-progress">
                                            <Label class="bar" text="10,10" left="0" top="0" width="100" height="4"></Label>
                                            <Label class="barfill" left="0" top="0" width="50" height="4"></Label>
                                        </AbsoluteLayout>
                                        <Label class="h5" text="Submitted"></Label>
                                    </FlexboxLayout>


                                    <StackLayout flexGrow="1" orientation="vertical">
                                        <Image width="36" height="36" backgroundColor="#72B1FF"
                                            borderRadius="50%"
                                            src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png">
                                        </Image>
                                        <Label class="h5" textAlignment="center" text="Reminder">
                                        </Label>
                                    </StackLayout>

                                </FlexboxLayout>
                            </FlexboxLayout>


                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <!-- Item end-->

            </StackLayout>

            </ScrollView>
            <Button text="create assignment" class="-primary -rounded-sm primary-btn"></Button>

            </StackLayout>
            
        


    </GridLayout>
 



        <GridLayout *tabItem="{ title: 'PAST' }">

                <StackLayout name="PAST">
                    <!-- No styles applied -->
                    <Button text="Button"></Button>
                    <!-- Using local CSS class -->
                    <Button text=".my-button" class="my-button"></Button>
                    <!-- Using @nativescript/theme CSS classes -->
                    <Button text="Button.-primary" class="-primary"></Button>
                    <Button class="-primary">
                        <FormattedString>
                            <Span text="&#xf099;" class="fab"></Span>
                            <Span text=" Button.-primary with icon"></Span>
                        </FormattedString>
                    </Button>
                    <Button text="Button.-outline" class="-outline"></Button>
                    <Button text="Button.-primary.-rounded-sm" class="-primary -rounded-sm"></Button>
                    <Button text="Button.-primary.-rounded-lg" class="-primary -rounded-lg"></Button>
                    <Button text="Button.-outline.-rounded-sm" class="-outline -rounded-sm"></Button>
                    <Button text="Button.-outline.-rounded-lg" class="-outline -rounded-lg"></Button>
                    <Button text="Button.-outline[isEnabled=false]" isEnabled="false" class="-outline"></Button>
                    <Button text="Button.-primary[isEnabled=false]" isEnabled="false" class="-primary"></Button>
                </StackLayout>
        </GridLayout>

        <GridLayout *tabItem="{ title: 'DRAFTS' }">
            <page-router-outlet name="DRAFTS"></page-router-outlet>
        </GridLayout>
        <GridLayout *tabItem="{ title: 'ALL' }">
            <page-router-outlet name="ALL"></page-router-outlet>
        </GridLayout>
    </TabView>
</StackLayout>